<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>CR Calculator | Seller Toolset</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/cr_calculator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anim/cr_calculator.css') }}">
</head>

<body>
    {% include 'components/header.html' %}

    <main class="main column gap-100">
        <section class="calculator">
            <section class="section flex gap-40">
                <div class="left-panel column gap-20">
                    <div class="stats-card column gap-10">
                        <div class="heading column">
                            <h3 class="h3">Customer Return (CR)</h3>
                            <hr class="divider">
                        </div>

                        <div class="body column gap-10">
                            <div class="input-row row h-sb gap-5">
                                <label for="totalOrders" class="row gap-10">
                                    <span class="symbol fl-icon">orders</span>
                                    <span class="text">Total orders</span>
                                </label>
                                <input type="number" name="totalOrders" id="totalOrders" class="input" placeholder="e.g.: 100" value="100">
                            </div>
                            <hr class="divider">

                            <div class="input-row row h-sb gap-5">
                                <label for="totalReturn" class="row gap-10">
                                    <span class="symbol">keyboard_return</span>
                                    <span class="text">Total return (%)</span>
                                </label>
                                <input type="number" name="totalReturn" id="totalReturn" class="input" placeholder="e.g.: 10">
                            </div>
                            <hr class="divider">

                            <div class="input-row row h-sb ga-5">
                                <label for="returnLoss" class="row gap-10">
                                    <span class="symbol">trending_down</span>
                                    <span class="text">Return loss</span>
                                </label>
                                <input type="number" name="returnLoss" id="returnLoss" class="input" placeholder="e.g.: 150">
                            </div>
                            <hr class="divider">

                            <div class="input-row row h-sb gap-5">
                                <label for="packagingLoss" class="row gap-10">
                                    <span class="symbol fl-icon">box</span>
                                    <span class="text">Packaging loss</span>
                                </label>
                                <input type="number" name="packagingLoss" id="packagingLoss" class="input" placeholder="e.g.: 10">
                            </div>
                            <hr class="divider">

                            <div class="input-row row h-sb gap-5">
                                <label for="totalRto" class="row gap-10">
                                    <span class="symbol fl-icon">local_shipping</span>
                                    <span class="text">Total RTO (%)</span>
                                </label>
                                <input type="number" name="totalRto" id="totalRto" class="input" placeholder="e.g.: 10">
                            </div>
                            <hr class="divider">

                            <div class="input-row row h-sb gap-5">
                                <label for="rtoLoss" class="row gap-10">
                                    <span class="symbol">moped</span>
                                    <span class="text">RTO loss</span>
                                </label>
                                <input type="number" name="rtoLoss" id="rtoLoss" class="input" placeholder="e.g.: 0">
                            </div>
                            <hr class="divider">
                        </div>
                    </div>

                    <ul class="list res-row gap-10 actions">
                        <li><button class="btn fl" id="calcbtn">Calculate</button></li>
                        <li><button class="btn ot" id="resbtn">Reset</button></li>
                    </ul>
                </div>

                <div class="right-panel">
                    <div class="stats-card column gap-10">
                        <div class="heading column">
                            <div class="row h-sb">
                                <h3 class="h3">Summary</h3>
                                <span class="symbol">toc</span>
                            </div>
                            <hr class="divider">
                        </div>

                        <div class="body column gap-10">
                            <div class="input-row row h-sb gap-5">
                                <label class="row gap-10" for="crLossOutput">
                                    <span class="symbol fl-icon">trending_down</span>
                                    <span class="text">CR Loss (₹)</span>
                                </label>
                                <span class="output text" id="crLossOutput">₹ 0.00</span>
                            </div>
                            <hr class="divider">

                            <div class="input-row row h-sb gap-5">
                                <label class="row gap-10" for="rtoLossOutput">
                                    <span class="symbol fl-icon">toll</span>
                                    <span class="text">RTO Loss (₹)</span>
                                </label>
                                <span class="output text" id="rtoLossOutput">₹ 0.00</span>
                            </div>
                            <hr class="divider">

                            <div class="input-row row h-sb gap-5">
                                <label class="row gap-10" for="totalLossOutput">
                                    <span class="symbol fl-icon">equal</span>
                                    <span class="text">Total Loss (₹)</span>
                                </label>
                                <span class="output text" id="totalLossOutput">₹ 0.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <script type="module" src="{{ url_for('static', filename='js/base/observer.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/pages/cr_calculator.js') }}"></script>
    </main>
</body>

</html>