<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HGGCJKXM2E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HGGCJKXM2E');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="author" content="MarkRTD">
    <link rel="canonical" href="https://sellertool.markrtd.com/">

    <meta name="description"
        content="SellerTool by MarkRTD helps ecommerce sellers with shipping label cropper, ROI calculator, product pricing tools, MRP tag generator, and powerful seller utilities for Amazon, Meesho, and Flipkart sellers.">

    <meta name="keywords"
        content="seller tool, ecommerce seller tools, amazon seller tools india, meesho seller tools, flipkart seller tools, shipping label cropper, ROI calculator ecommerce, product price calculator, MRP label generator, ecommerce automation tools, amazon shipping label cropper with SKU, Meesho Shipping label cropper, Flipkart Shipping label cropper">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>SellerTool by MarkRTD - Powerfull Ecommerce Seller Tools for Amazon, Meesho & Flipkart </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anim/home.css') }}">
</head>

<body>
    {% include 'components/header.html' %}

    <main class="main column gap-100">
        <section class="hero">
            <section class="section row gap-50">
                <div class="left column gap-20">
                    <h1 class="h1">
                        <p>Crop PDFs.</p>
                        <p>Calculate prices.</p>
                        <p>Track returns.</p>
                    </h1>

                    <h3 class="h3">All-in-one workspace for documents and business math.</h3>

                    <a href="/tools/pdf-cropper/" class="link btn fl">Start with PDF cropper</a>
                </div>

                <div class="right center">
                    <img src="{{ url_for('static', filename='assets/images/hero-img.png') }}"
                        alt="Brand logo of the company owning the app" class="img">
                </div>
            </section>
        </section>

        <hr class="divider">

        <section class="tools" id="tools">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">Explore tools</h1>
                    <p class="para">Explore a curated selection of tools built for optimizing business math.</p>
                </div>

                <div class="body grid gap-20">
                    <a href="/tools/pdf-cropper/" class="tool link column gap-20">
                        <div class="row gap-10">
                            <img src="{{ url_for('static', filename='assets/icons/pdf.png') }}" alt="PDF cropper"
                                class="icon">

                            <h2 class="h2">PDF Cropper</h2>
                        </div>

                        <p class="para">This tool is helpful to crop PDFs of invoices of different E-com platforms and
                            extract shipping label from them.</p>
                    </a>

                    <a href="/tools/cr-calculator/" class="tool link column gap-20">
                        <div class="row gap-10">
                            <img src="{{ url_for('static', filename='assets/icons/pr-calc.png') }}" alt="CR Calculator"
                                class="icon">

                            <h2 class="h2">CR Calculator</h2>
                        </div>

                        <p class="para">This tool allow you to calculate the hidden losses on products like CR (Custom
                            return) per order.</p>
                    </a>

                    <a href="/tools/price-calculator/" class="tool link column gap-20">
                        <div class="row gap-10">
                            <img src="{{ url_for('static', filename='assets/icons/sp-calc.png') }}"
                                alt="Price Calculator" class="icon">

                            <h2 class="h2">Price calculator</h2>
                        </div>

                        <p class="para">This tool is useful to calculate the ideal price of a product including margins
                            and hidden losses per order.</p>
                    </a>

                    <a href="/tools/roi-calculator/" class="tool link column gap-20">
                        <div class="row gap-10">
                            <img src="{{ url_for('static', filename='assets/icons/roi.png') }}" alt="ROI Calculator"
                                class="icon">

                            <h2 class="h2">ROI calculator</h2>
                        </div>

                        <p class="para">This tool is useful to calculate the weather ROI on ads spent on a specific
                            product
                            is profitable or not.</p>
                    </a>

                    <a href="/tools/fba-generator/" class="tool link column gap-20">
                        <div class="row gap-10">
                            <img src="{{ url_for('static', filename='assets/icons/fba.png') }}" alt="FBA Generator"
                                class="icon">

                            <h2 class="h2">FBA Generator</h2>
                        </div>

                        <p class="para">This tool is built to generate clean and printable FBA Labels of specific
                            product.
                            A single generation builds 40 Labels on an A4 sheet.
                        </p>
                    </a>

                    <a href="/tools/batch-generator/" class="tool link column gap-20">
                        <div class="row gap-10">
                            <img src="{{ url_for('static', filename='assets/icons/batch.png') }}" alt="Batch Generator"
                                class="icon">

                            <h2 class="h2">Batch Generator</h2>
                        </div>

                        <p class="para">This tool is built to generate clean and printable Batch Labels of specific
                            product.
                            A single generation builds 27 Labels on an A4 sheet.
                        </p>
                    </a>

                    <a href="/tools/image-refiner/" class="tool link column gap-20">
                        <div class="row gap-10">
                            <img src="{{ url_for('static', filename='assets/icons/refine.png') }}" alt="Image Refiner"
                                class="icon">

                            <h2 class="h2">Image refiner</h2>
                        </div>

                        <p class="para">This tool is designed to refine product image so that it takes less shipping charges on E-com platforms.
                        </p>
                    </a>
                </div>
            </section>
        </section>

        <section class="strip">
            <section class="section column v-center gap-20">
                <p class="para">“Built for creators, freelancers & sellers”</p>
                <a href="#tools" class="link btn fl">Get started</a>
            </section>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/base/observer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/home.js') }}"></script>
</body>

</html>