<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>Image refiner | Seller Toolset</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/image_refiner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anim/image_refiner.css') }}">
</head>

<body>
    {% include 'components/header.html' %}

    <main class="main column gap-50">
        <section class="image-refine">
            <section class="section">
                <form action="/tools/image-refiner/refine" method="post" class="form column gap-20"
                    enctype="multipart/form-data">
                    <div class="area column gap-10">
                        <label for="fileUpload" class="row gap-10">
                            <span class="symbol">upload</span>
                            <span class="text">Upload image</span>
                        </label>

                        <input required type="file" name="fileUpload" id="fileUpload" class="input" accept="image/*">
                    </div>

                    <div class="area column gap-20">
                        <button type="submit" class="btn icon-fl" id="startCrop">
                            <span class="symbol">filter</span>
                            <span class="text">Refine</span>
                        </button>
                    </div>
                </form>
            </section>
        </section>

        <section class="info">
            <section class="section">
                <div class="info-area column gap-10">
                    <div class="status row gap-10">
                        <span class="symbol">progress_activity</span>
                        <span class="text">Refining...</span>
                    </div>

                    <p class="para">
                        <span class="text" id="currentState"></span>
                        <span class="text flicker">.</span>
                        <span class="text flicker">.</span>
                        <span class="text flicker">.</span>
                    </p>
                </div>
            </section>
        </section>

        <section class="doc">
            <section class="section column gap-50">
                <div class="head column center">
                    <h1 class="h1">How this works</h1>
                </div>

                <div class="body grid gap-20">
                    <div class="step column gap-10">
                        <h1 class="h1 index link btn fl">1</h1>
                        <h1 class="h1">Configs</h1>

                        <p class="para">Upload image, click <span class="title highlight">Crop</span>.</p>
                    </div>

                    <div class="step column gap-10">
                        <h1 class="h1 index link btn fl">2</h1>
                        <h1 class="h1">Backend</h1>

                        <p class="para">Our app will process the image, and refine it.</span>
                        </p>
                    </div>

                    <div class="step column gap-10">
                        <h1 class="h1 index link btn fl">3</h1>
                        <h1 class="h1">It's done</h1>

                        <p class="para">Then you'll receive the refined image downloaded at your device.</p>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/pages/image_refiner.js') }}"></script>
</body>

</html>