<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>Order tracker | Seller Toolset</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/order_tracker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anim/order_tracker.css') }}">
</head>
<body>
    {% include 'components/header.html' %}
</body>
</html>