/* | INPUTS & OUTPUTS */
.inputs,
.outputs {
    transform: translateY(100px);
    opacity: 0;
    transition:
        transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out;
}

.inputs.visible,
.outputs.visible {
    transform: translateY(0);
    opacity: 1;
}