<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">

<header class="header">
    <section class="section column gap-10">
        <div class="content row h-sb">
            <div class="row gap-20">
                <span class="symbol menu-btn">menu</span>

                <a href="/" class="link main-link">
                    <img src="{{ url_for('static', filename='assets/icons/header_logo.png') }}" alt="Toolset logo"
                        class="logo">
                </a>
            </div>

            <ul class="navigation list row gap-20">
                <li><a href="/#tools" class="link"><span class="mini">EXPLORE TOOLS</span></a></li>
            </ul>
        </div>

        <hr class="divider">
    </section>
</header>

<nav class="nav column h-sb">
    <div class="menu-btn row gap-10">
        <span class="symbol">close</span>
        <span class="text">Close</span>
    </div>

    <ul class="navigation list column gap-20">
        <li><span class="text title">MARKRTD E-COM TOOLS</span></li>
        <li><a href="/tools/pdf-cropper/" class="link"><span class="mini">SHIPPING LABEL CROPPER</span></a></li>
        <li><a href="/tools/invoice-cropper/" class="link"><span class="mini">TAX INVOICE CROPPER</span></a></li>
        <li><a href="/tools/cr-calculator/" class="link"><span class="mini">RETURN LOSS CALCULATOR</span></a></li>
        <li><a href="/tools/price-calculator/" class="link"><span class="mini">DECIDE SELLING PRICE</span></a></li>
        <li><a href="/tools/roi-calculator/" class="link"><span class="mini">ROI/ROAS CALCULATOR</span></a></li>
        <li><a href="/tools/fba-generator/" class="link"><span class="mini">MRP TAG/AMAZON FBA STICKER GENERATOR</span></a></li>
        <li><a href="/tools/batch-generator/" class="link"><span class="mini">PRODUCT BATCH GENERATOR</span></a></li>
        <li><a href="/tools/image-refiner/" class="link"><span class="mini">IMAGE REFINER (LOW SHIPPING)</span></a></li>
        <li><a href="/tools/image-converter/" class="link"><span class="mini">IMAGE CONVERTER (AVIF TO JPG)</span></a></li>
    </ul>

    <div class="navigation column gap-20">
        <span class="text title">MARKRTD SETTINGS</span>

        <div class="btn row gap-10 h-en" id="theme-control">
            <span class="symbol">contrast</span>
            <span class="text">Theme</span>
        </div>
    </div>

    <span class="mini">&copy; MARKRTD 2026</span>
</nav>

<script src="{{ url_for('static', filename='js/components/header.js') }}"></script>