<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">

<header class="header">
    <section class="section column gap-10">
        <div class="content row h-sb">
            <div class="row gap-20">
                <span class="symbol menu-btn">menu</span>

                <a href="/" class="link main-link">
                    <img src="{{ url_for('static', filename='assets/icons/header_logo.png') }}" alt="Toolset logo"
                        class="logo">
                </a>
            </div>

            <ul class="navigation list row gap-20">
                <li class="btn row gap-10 h-en" id="theme-control">
                    <span class="symbol" id="theme-symbol">dark_mode</span>
                </li>

                <li><a href="/#tools" class="link"><span class="mini">TOOLS</span></a></li>
            </ul>
        </div>

        <hr class="divider">
    </section>
</header>

<nav class="nav column h-sb">
    <div class="menu-btn row gap-10">
        <span class="symbol">close</span>
        <span class="text">Close</span>
    </div>

    <ul class="navigation list column gap-20">
        <li><span class="text title">MARKRTD E-COM TOOLS</span></li>

        <li><a href="/#tools" class="link row gap-10 h-en">
                <span class="symbol">handyman</span>
                <span class="mini">EXPLORE TOOLS</span>
            </a></li>

        <li><a href="" class="link row gap-10 h-en">
                <span class="symbol">code_xml</span>
                <span class="mini">OUR SERVICES</span>
            </a></li>

        <li><a href="https://www.markrtd.com/" class="link row gap-10 h-en">
                <span class="symbol">package_2</span>
                <span class="mini">BUY PACKAGING</span>
            </a></li>

        <li><a href="mailto:hello@surazz.com" class="link row gap-10 h-en">
                <span class="symbol">mail</span>

                <div class="column">
                    <span class="mini">feedback/suggestion</span>
                    <span class="text">hello@surazz.com</span>
                </div>
            </a></li>
    </ul>

    <div class="column gap-5">
        <span class="mini">2025-2026 &copy; Mark RTD</span>
        <span class="mini">Smart Packaging for Smart Sellers</span>
    </div>
</nav>

<script src="{{ url_for('static', filename='js/components/header.js') }}"></script>